@use 'src/styles/vars';

.presentation{
    width: 100%;
    text-align: center;
    font-family: vars.$QuickSand;
    font-size: 1em;
    margin-bottom: 8em;

    @media only screen and (min-width:768px){
        font-size: 1.2em;
    }
    @media only screen and (min-width:1024px){
        font-size: 1.4em;
    }
    .name{
        padding: 3em 0 1em;
        font-size: 3em;
    }
    .title{
        padding: 0 0 2em 6em;
    }

    .socialMedia-icons{
        .icon{
            margin:1em;
        }
    }
}