@use 'src/styles/vars';

.technologies{
    margin:10em 0 8em;
    padding-top:5em;
    .icons{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        
    }
}