@use 'src/styles/vars';

.technologies{
    min-height:100vh;
    .icons{
        width:90%;
        min-height: 70vh;
        margin:auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
    }
}