.cv{
    .back-link{
        position: absolute;
        top:2em;
        left:2em;
        background-color: rgba(0,0,0,0.25);
        color:#fff;
        padding:0.5em;
        border-radius: 8px;
    }
    .back-link:hover{
        background-color: rgba(0,0,0,0.5);
    }
    .cv-img{
        text-align: center;
    width: 50%;
    margin:auto;
    }  
}