@use 'src/styles/vars';
.contact{
    min-height: 100vh;
    .text{
        margin: 2em 0 3em;
        text-align: center;
        font-weight: 600;
        a{
            text-decoration: underline;
        }
    }
}