.dropdown{
    position: absolute;
    right:0.1em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    padding:1.5em;
    border-radius: 10px;
    
    .dropdown-open{
        display: block;
    }
    .dropdown-clone{
        display:none;
    }
    .link{
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .link:hover{
        font-weight: 600;
    }
}