@use 'src/styles/vars';

.about-me{
    text-align: center;
    margin-bottom: 10em;
    padding-top:5em;
    .title{
        font-family: vars.$Syncopate;
        text-align: left;
        margin: 3em 0 2em 2em;
        font-size: 1em;
        text-decoration: underline;
    }
    .text{
        padding: 1em;
        line-height: 1.3em;
        @media only screen and (min-width:1024px){
            width:70%;
            margin:auto;
        }
        .link{
            font-weight: 600;
        }
        .link:hover{
            text-decoration: underline;
        }
        span{
            text-decoration: underline;
        }
    }
    .conclusion{
        font-weight: 500;
    }
    .cv-link{
        display: block;
        font-family: vars.$Syncopate;
        text-align: right;
        text-decoration: underline;
        margin: 2em 2em 8em 0;
    }
}